@media screen and (max-width: 768px) {
/* BEGIN DEFAULT STYLING */
    #main-header {
        display: flex;
        flex-direction: column;
        display: flex;
        border-bottom: var(--size-4) solid black;
        align-items: center;
    }

    #main-header nav {
        margin-bottom: var(--size-16);
    }

    #main-header ul li a:hover {
        cursor: pointer;
        border-bottom: none;
        text-decoration: none;
        color: var(--primary-color);
        font-size: var(--size-24);
        font-weight: 600;
        color: var(--secondary-color);
    }
/* END DEFAULT STYLING */

/* START index.html STYLING */
#index-one {
    margin: var(--size-24) 0;
    row-gap: var(--size-40);
}
/* END index.html STYLING */
}

@media screen and (max-width: 425px) {
/* START DEFAULT STYLING */
    #main-header ul li {
        margin-right: var(--size-16);
    }
/* END DEFAULT STYLING */

/* START index.html STYLING */
    .index-one-item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .index-one-item p {
        margin: var(--size-4);
    }

    .index-one-item.img-last {
        flex-direction: column-reverse;
    }
/* END index.html STYLING */
}