/* START DEFAULT STYLING */
:root {
    --primary-color: #17296D;
    --secondary-color: #2FACD3;
    --tertiary-color: #DBD7D7;
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --size-4: 0.25rem;
    --size-8: 0.5rem;
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-32: 2rem;
    --size-40: 2.5rem;
    --size-48: 3rem;
    --size-56: 3.5rem;
    --size-64: 4rem;
}

body {
    font-family: var(--primary-font);
    font-size: var(--size-24);
}

#main-header {
    display: flex;
    border-bottom: var(--size-4) solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

#main-logo-link:hover {
    cursor: pointer;
    opacity: 0.7;
}

#main-header img {
    width: 100%;
}

#main-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#main-header ul li {
    margin-right: var(--size-40);
}

#main-header ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--size-24);
    font-weight: 600;
    border-bottom: var(--size-4) solid transparent;
    padding: var(--size-8) 0;
    letter-spacing: 2px;
}

#main-header ul li a:hover {
    cursor: pointer;
    border-bottom: var(--size-4) solid var(--secondary-color);
    text-decoration: none;
    font-size: var(--size-24);
    font-weight: 600;
    color: var(--secondary-color);
}

footer {
    text-align: center;
    font-size: var(--size-16);
    color: gray;
    margin-top: var(--size-56);
}

#socials a {
    color: gray;
    font-size: var(--size-40);
    margin-right: var(--size-40);
}

#socials a:last-child {margin-right: 0;}

#socials a:hover {
    cursor: pointer;
    color: black;
}
/* END DEFAULT STYLING */

/* START index.html STYLING */
#index-one {
    margin: var(--size-16) 0;
    display: grid;
    row-gap: var(--size-24);
}

#index-one img {
    width: 100%;
    max-width: 100%;
    border-radius: var(--size-8);
}

.index-one-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--size-16);
    align-items: center;
}

.index-one-item header {
    font-size: var(--size-32);
    font-weight: 600;
    color: var(--primary-color);
}

.index-one-item p {
    line-height: var(--size-40);
}

.index-one-item.img-last div {
    text-align: right;
}
/* END index.html STYLING */

/* START about.html STYLING */
#about-one {
    display: flex;
    justify-content: space-around;
    padding: var(--size-16) 0;
}

#about-one header,
#about-two header {
    font-size: var(--size-40);
    color: var(--primary-color);
}

iframe {
    width: 50%;
}

#about-two {
    text-align: center;
    padding: 0 var(--size-64);
}
/* END about.html STYLING */

/* START staff.html STYLING */
#staff-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--size-40);
    row-gap: var(--size-32);
    padding: var(--size-40);
}

.staff-one-item {
    border: var(--size-4) solid var(--primary-color);
}

.staff-one-text {
    padding: var(--size-12);
    text-align: center;
}

.staff-one-text header:first-child {
    color: var(--primary-color);
    font-weight: 600;
    font-size: var(--size-32);
}

.staff-one-text header:nth-child(2) {
    color: var(--secondary-color);
    font-weight: 600;
}

#staff-one div img {
    width: 100%
}
/* END staff.html STYLING */

/* START events.html STYLING */
#page-header {
    color: var(--primary-color);
    font-size: var(--size-32);
    padding: 0 var(--size-64);
    text-align: center;
    margin-top: var(--size-16);
}

.event-type-header {
    color: var(--secondary-color);
    font-size: var(--size-40);
    text-align: center;
    margin: var(--size-32) 0 var(--size-16) 0;
}

#events-one {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--size-16);
}

#events-one a {
    text-decoration: none;
    color: var(--tertiary-color);
    border: var(--size-4) solid var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    padding: var(--size-16);
}

#events-one a:hover {
    opacity: 0.7;
}

#events-one a header {
    font-weight: 600;
}
/* END events.html STYLING */